# Data Science Tools and Ecosytem

## INTRODUCTION

This notebook provides an overview of tools and technologies used in Data Science.

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Tensorflow
4. Matplotlib
5. Skicit-learn

# Data Science Tools

|Data Science Tools|
|--------------------|
|Jupyter Notebook|
|Github|
|Rstudio|

# Arithematic expression examples:
### Below are a few examples of evaluating arithematic expressions in Python.

In [ ]:
x = 12
y = 46
x/y

In [ ]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

In [ ]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

**Objectives:**

- Tools used by Data Scientist
- Libraries used
- Popular Languages
- Perform basic arithematic operations
- Convert minutes to hours

## Author

Bhavika Gupta